body{
  font-family: verdana, calibri, sans-serif;
  font-size: 100%;
}

nav {
  padding: 1%;
  text-align: center;
  width: 80%;
}

nav li {
  display: inline-block;
  padding: 1%;
}

nav a {
  color: #fff;
  text-shadow: 1px 1px #000;
}

nav img {
  width: 10%;
  position: relative;
  float: right;
}

.current a {
  background-color: #fff;
  color: #2a7b9b;
  font-variant: small-caps;
  text-decoration: none;
}

header {
  background: #2a7b9b;
  background: linear-gradient(to right, #2a7b9b, #57c785, #eddd53);
}

h1 {
  text-align: center;
  font-family: vivaldi, cursive, serif;
  color: #fff;
  text-shadow: 1px 1px #000;
  font-size: 300%;
}

main {
  background-color: #f9f6ec;
  font-size: 100%;
}

/* li {
  display: inline-block;
  width: 250 px;
} */

a {
  color: #2a7b9b;
}

.grid {
  display: grid;
  grid-template-columns: 40% 40%;
  justify-content: center;
  align-items: center;
  row-gap: 25px;
  column-gap: 25px;
  margin: 25px;
  padding: 25px;
}

.grid img {
  width: 100%;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 25px;
  column-gap: 25px;
  margin: 25px;
  padding: 25px;
}

p {
  line-height: 150%;
}

footer {
  background-color: #ebf4fa;
}